<form action="/cars" method="post">
  <label for="new-car">Car description:</label>
  <input id="new-car" name="new-car" type="text">
  <label for="new-price">Price:</label>
  <input id="new-price" name="new-price" type="text">
  <button type="submit">Submit</button>
</form>
